.product-collection
	.react-multi-carousel-list
	.react-multiple-carousel__arrow--right {
	position: absolute !important;
	top: 50%;
	right: -1%;
	transform: translateY(-50%); /* Add this line */
}

.product-collection
    .react-multi-carousel-list
    .react-multiple-carousel__arrow--left {
    position: absolute !important;
    top: 50%;
    left: -1%;
    transform: translateY(-50%); /* Add this line */
}

.react-multiple-carousel__arrow::before {
	color: black;
	font-size: 30px;
	font-weight: bolder;
}

.product-collection
	.react-multi-carousel-list
	.react-multiple-carousel__arrow--left {
	background: none;
}
.product-collection
	.react-multi-carousel-list
	.react-multiple-carousel__arrow--right {
	background: none;
}
